window {
    color: #EDEDEB;
    background-color: #343333;
}

frame {
    border-color: #4C4B4B;
}

button.button {
    color: #EEEEEC;
    background-color: #474645;
    border-color: #4C4B4B;
}

button.titlebutton {
    background-color: #1E1D1D;
}

button:hover {
    background-color: #545554;
}

entry {
    color:#989898;
    background-color: #1E1D1D;
    border-color: #4C4B4B;
}
